{%  extends 'AppBundle::base.html.twig' %}

{% block title %} Поиск Меток {% endblock %}

{% block content %}
    <h2>Задайте радиус поиска: </h2>

    <div class="row">
        <div id = 'searchYndexMap' style="height: 500px" class="map col-xs-12" data-type-map = 'search'></div>
    </div>

    <div class="btn">Выбрать !</div>
{% endblock %}